body, html {
    overflow: hidden;
}

#simulator-tab-view {
    display: none;
}

#editor-tab-view {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#asm-editor {
    padding: 5px;
    width: 100%;
    height: 88vh;
    font-family: Courier New, Courier, monospace;
}

.section {
    padding: 0rem 1.5rem;
}

#mc-column {
    width: 20%;
}

#oc-column {
    width: 80%;
}

#program-listing {
    height: 80vh;
    font-family: Courier New, Courier, monospace;
}

#program-listing-body {
    overflow: auto;
}

#program-listing-container {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
}