html {
    overflow-y: auto;
}

body {
    height: 100vh;
}

#simulator-tab-view {
    display: none;
}

#editor-tab-view {
    overflow: hidden;
    width: 100%;
}

#asm-editor {
    width: 100%;
    height: 88vh;
    max-height: 88vh;
    font-family: Courier New, Courier, monospace;
}

.section {
    padding: 0rem 1.5rem;
}

#mc-column {
    width: 20%;
}

#oc-column {
    width: 80%;
}

#program-listing {
    font-family: Courier New, Courier, monospace;
}

#program-listing-body {
    overflow: auto;
    height: 100%;
}

#program-listing-container {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}

#register-listing-container {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}

#register-listing {
    font-family: Courier New, Courier, monospace;
} 

#console-output {
    height: 100%;
}

.tabs {
    margin-top: 1em;
}
